label{
	padding	:4px 4px 4px 4px;
	display	:inline-block;
	margin-top:10px;
	margin-left : 70%;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
#name{
	width: 25%;
	border-radius:3px;
	resize:vertical;
	margin-top: 14px;
}
#year{
	width:13%;
	margin-top:14px;
}
#month{
	width:18%;
	margin-top:14px;
}
#date{
	width:12%;
	margin-top:14px;
}
h1 {
  color: navy;
  text-align: center;
}
form{
	color :navy;
	border-style:groove;
	border-color : black;
	border-width: medium;
	border-radius: 5px;
	padding:35px;
	margin :30px;
	margin-right: 250px;
	margin-left: 250px;
}
.heading-text{
	text-align:center;
	color:navy;
	
}
#button{
	background-color: #e5e5ec;
	color: #3a1220;
	margin:0 auto;
	display:block;
	
}
#error{
	color:red;
	display:block;
	margin:0 auto;
	padding:15px;
	text-align: center;
}
#result{
	color: navy;
	display:block;
	margin:0 auto;
	padding:15px;
	text-align: center;
}